<section class="container py-5">
    <form #skillsForm="ngForm" class="form-box text-white mt-5 p-5">
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label mb-3">Nombre skills</label>
                <input type="text" class="form-control" id="name" name="name" #name="ngModel" autocomplete="off" [(ngModel)]="skills.name">
            </div>
            <div>
                <button *ngIf="!skills.id else elseBlock" type="submit" class="button-30" (click)="createSkills()">Crear</button>
                <ng-template #elseBlock>
                    <button class="button-30" (click)="updateSkills()">Editar</button>
                </ng-template>
            </div>
        </div>
    </form>
</section>