<section class="container">
    <form #skillsForm="ngForm" class="bg-dark text-white p-5">
        <div class="row">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre skills</label>
                <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="skills.name">
            </div>
            <div>
                <button *ngIf="!skills.id else elseBlock" type="submit" class="btn btn-primary" (click)="createSkills()">Submit</button>
                <ng-template #elseBlock>
                    <button class="btn btn-primary" (click)="updateSkills()">Editar</button>
                </ng-template>
            </div>
        </div>
    </form>
</section>