<main class="home">
    <app-profile></app-profile>
    <div class="skills-section my-5">
        <h3 class="title-main text-center fs-2 mb-5">Skills</h3>
        <div class="row px-5">
            <div class="col-2" *ngFor="let skill of skillsList">
                <div class="card">
                    <img *ngIf="skill.image" src={{skill.image.imagenUrl}} alt="{{skill.name}}" class="img-fluid w-12">
                    <img *ngIf="!skill.image" src="../../../assets/notfound.png" class="img-fluid w-12" alt="no hay imagen">
                    <h4 class="text-capitalize">{{skill.name}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="education-container my-5">
        <h3 class="title-main text-center fs-2 mb-3">Education</h3>
        <div class="row">
            <div class="col" *ngFor="let education of educationList">
                <div>
                    <img *ngIf="education.image" src="{{education.image.imagenUrl}}" alt="{{education.name}}"
                        class="img-fluid w-12">
                    <img *ngIf="!education.image" src="../../../assets/notfound.png" class="img-fluid w-12" alt="no hay imagen">
                </div>
                <p>{{education.name}}</p>
            </div>
        </div>
    </div>
    <div class="project-container my-5">
        <h3 class="title-main text-center fs-2 mb-5">Proyectos</h3>
        <div class="row">
            <div class="col" *ngFor="let project of projectList">
                <div>

                </div>
                <p>{{project.name}}</p>
            </div>
        </div>
    </div>
</main>