.banner {
    margin-top: 0;
    padding: 100px 0 100px 0;

    .title {
        h1 {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 0.8px;
            line-height: 1;
            margin-bottom: 20px;
            display: block;
        }

        .tagline {
            font-weight: 700;
            letter-spacing: 0.8px;
            padding: 8px 10px;
            background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
            border: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 20px;
            margin-bottom: 16px;
            display: inline-block;
        }
    }
}

.banner img {
    animation: updown 4s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.modal {
    margin-top: 15vmin;
    .modal-content {
        background: rgba(255,255,255,0.5);
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.25);
        p,
        label {
            color: white;
        }
        .title-modal {
            margin: 20px;
            h3{
                font-size: 2rem;
            }
        }
        .modal-body {
            .img-container {
                .img-section {
                    height: 100%;
                    .img-input {
                        margin-top: auto;
                    }
                }
            }
        }
    }
}