<section class="py-5">
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <form #educationForm="ngForm" class="form-box p-5">
                <div class="row">
                    <div>
                        <label for="name" class="form-label mb-3">Nombre educacion</label>
                        <input type="text" class="form-control mb-3" id="name" name="name" #name="ngModel"
                            [(ngModel)]="education.name" autocomplete="off">
                    </div>
                    <div>
                        <label class="form-label mb-3">Fecha Inicial</label>
                        <div class="input-group mb-3">
                            <input matInput [matDatepicker]="picker" [(ngModel)]="education.startDate" name="startDate" class="form-control">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                    <div>
                        <label class="form-label mb-3">Fecha Final</label>
                        <div class="input-group mb-3">
                            <input matInput [matDatepicker]="picker2" [(ngModel)]="education.graduationDate"
                                name="graduationDate" class="form-control">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </div>
                    </div>
                    <div>
                        <button *ngIf="!education.id else elseBlock" type="submit" class="button-30"
                            (click)="createEducation()">Crear</button>
                        <ng-template #elseBlock>
                            <button class="button-30" (click)="updateEducation()">Editar</button>
                        </ng-template>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>