<app-image-details-skills *ngIf="skillsSelected" [skill]="skillsSelected"></app-image-details-skills>
<section class="container my-5">
    <div class="card-black">
        <button type="button" class="btn btn-primary" [routerLink]="['/skills/form']">Agregar skills</button>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skills of skillsList">
                    <td>
                        <img *ngIf="skills?.image" src="{{skills.image.imagenUrl}}" alt=""
                            style="width:64px; cursor: pointer;" (click)="openModal(skills)">
                        <span *ngIf="!skills?.image" (click)="openModal(skills)">No hay imagen</span>
                    </td>
                    <td>
                        {{skills.name}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary"
                            [routerLink]="['/skills/form', skills.id]">Editar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteSkills(skills)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>