<section class="experience-section">
    <div class="table-container bg-white">
        <div class="py-2">
          <button class="btn btn-primary" [routerLink]="['/experience/form']">
            Agregar Experiencia
          </button>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Puesto</th>
                <th scope="col">Fecha inicial</th>
                <th scope="col">Fecha de finalización</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let experience of experienceList">
                <td>{{experience.name}}</td>
                <td>{{experience.startDate}}</td>
                <td>{{experience.graduationDate}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/experience/form', experience.id]">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteExp(experience)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</section>